<h1> Listing all articles!</h1>
<!-- Adding create new article link -->
<p>
<%= link_to "Create new article", new_article_path %>
</p>
<!-- using a table tag to list all relevant info -->
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>

    <!-- create an iterator using the do method block -->
    <% @articles.each do |article| %> 
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
    </tr>

    <%end%>
</table>