<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- put flash notice in here in order to display when article is successfully -->
    <% flash.each do |name, msg| %>
    <ul> <li><%= msg %></li> </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
